body {
    background-color: #eaebec;
    margin: 25px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    display: flex;
    align-items: center;
}

#header img {
    height: 30px;
}

#header p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-weight: bold;
}

#header div {
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header div a {
    text-decoration: none;
    color: rgba(144, 144, 143, 255);
    font-weight: 500;
}

#header div a:last-child {
    background-color: #ffffffcd;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-weight: bolder;
}

#header img:last-child {
    background-color: #c9c9c9;
    padding: 10px;
    border-radius: 21px;
}

#info {
    display: flex;
    margin-top: 50px;
}

#info img:first-child {
    background-color: white;
    border-radius: 20px;
    height: 40px;
    margin-left: -5px;

}

#infoname {
    margin-left: 20px;
    line-height: 5px;
    margin-top: -20px;
}

#infoname p:first-child {
    font-size: 35px;
}


#infoimg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70%;
}

#infoimg img:first-child {
    border-radius: 20px;
    height: 120px;
}

#infoimg img:last-child {
    position: absolute;
    height: 60px;
}

#carinfo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 60px;

}


#carinfodiv {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 90px;

}


#view {
    margin-top: 10px;
}

#view p {
    margin-left: 10px;
    margin: 10px;
}

#view span {
    display: flex;
    align-items: center;
    background-color: #ffffffcd;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}


#bookcar{
    display: flex;
    align-items: center;
    justify-content: right !important;
    margin-top: 20px;
}

#bookcar p{
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
}

#otr{
    font-size: 9px !important;
    font-weight: 100 !important;
}

#bookcar img {
    height: 70px;
    margin: 10px;
    mix-blend-mode: multiply;
}

#apply{
    font-weight: 100 !important;
    color: white;
    background-color: black;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin-left: 20px !important;
}

#bookcar div{
    margin-left: 20px;
}

#wheel {
    display: inline;
}



#wheelp {
    font-size: 20px;
    font-weight: 600;
}

#wheelsize {
    display: flex;
}

#wheelsize div:first-child and :last-child {
    display: flex;
}

#wheelsizeone {
    width: 180px;
    margin: 10px;
    background-color: #ffffffcd;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
}

#pcd {
    margin: 0px;
    font-size: 15px !important;
    font-weight: 100 !important;
}

#wheelsizeone div {
    position: relative;
    display: flex;
    background-color: #f7f7f7;
    padding-left: 5px;
    padding: 10px;
}

#wheelsizeone p {
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
}

#wheelsizeoneimg {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}

#alloys {
    display: flex;
}

#mercedies {
    font-size: 10px !important;
    font-weight: 100;
    color: gray;
}

#alloyimg {
    display: block;
    margin: auto;
    padding: 20px;
}

#price {
    text-align: right;
    font-size: 20px !important;
    font-weight: bold !important;
}
